@model BudgetKeeper.Web.Models.IndexModel

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	@Styles.Render("~/Styles/css")
</head>
<body>
	<div class="header"></div>
	<div class="body">
		<div>@Html.Partial("dashboard")</div>
	</div>
	<div class="footer"></div>

	@Scripts.Render("~/bundles/Libs")
	@Scripts.Render("~/bundles/account")
	<script>
		init('@Html.Raw(ViewBag.User)');
	</script>
</body>
</html>


